.center {
    text-align: center;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bcontain {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: rgba(216, 216, 216, 0.637);
    justify-content: center;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    
}

.avatar {
    /* align-self: center; */
    /* position:fixed; */
    margin-right: 15%;
}

.banner {

}