@import "~antd/dist/antd.css";

.User {

}

.user-light {
    background-color: #CBF1F5;
    color: black !important;
}

.user-dark {
    background-color: #1E2022;
    color: #CBF1F5;
}

.text {
    color: rgb(177, 0, 153);
}
