.print-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-evenly;
  flex-direction: row;
  row-gap: 15px;
  flex-basis: 0;
}
.print-item {
  gap: 15px;
}

.center-horiz {
  text-align: center;
}

.break {
  flex-basis: 100%;
  width: 0;
}

.float-left {
  float: left;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content img {
  width: 150px;
}
.details {
  width: calc(100% - 200px);
  justify-content: left;
}
@media only screen and (max-width: 480px) {
  .content {
      flex-direction: column;
  }
  .details {
      width: 100%;
  }
}