#todoList, #todoList li {
    margin-left: 10px;
}

#todoList li:nth-child(odd) {
    list-style: circle inside;
}
#todoList li:nth-child(even) {
    list-style: disc inside;
}

#config-box {
    height: 100vh;
    padding-bottom: 55px;
}

@media only screen and (min-width: 500px) {
    #config-box {
        height: 100%;
    }
}