@import "~antd/dist/antd.css";

.Main {
    background-color: hsl(195, 53%, 79%, 60%);
    /* height: 100%; */
    height: 91.5vh; /* between nav/footer */
    overflow: auto;

}

.Center {
    color: #CBF1F5;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-left: 4%;
    margin-top: 3%;
    margin-bottom: -4%;
    /* transform: translateY(50%); */
}

.Large {
    font-size: xx-large;
}

.main-light{
    background-color: #CBF1F5;
    color: black
}

.main-dark {
    background-color: #1E2022;
    color: white
}