.Footer {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    height: 3vh;
}

.footdark {
    background-color: #001529 !important;
    color: white;
}

.footlight {
    background-color: rgb(155, 221, 223) !important;
    color: #001529;
}
