#hoverIns {
    margin: 1%;
    padding: 1%;
}

#gh-container {
    width: 100% !important;
    height: 80vh !important;
    padding: 5px 0px;
    background-color: aliceblue;
    border-color: rgb(218, 238, 255);
    border-style: solid;
    border-radius: 10px;
}