.text-center {
    text-align: center;
}

.elem-center {
    justify-content: center;
}

.vert-center {
    align-content: center;
}

.center {

}

.main-title {
    font-size: 40px;
    margin: 1%;
}