.Navbar {
    height: 5.5vh !important;
    width: 100% !important;
}

.navdark {
    background-color: #001529 !important;
}

.navlight {
    background-color: white !important;
}

.Switcher {
    justify-content: right !important;
    position: absolute !important;
    right: 1vh !important;
    top: 1vh;
}
